
.btn {
  font-size: 16px;
  border-radius: 8px;
  color: #333333;
  background-color: #FF3B3F;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

body {
  margin: 20px;
  background-color: #3C3C3C;
}

.jumbotron {
  margin-bottom: 20px;
  background-image: url(../img/dada4.jpg);
  font-size: 50px;
  text-align: center;
  color: black;
  text-shadow: 5px 1px #CAEBF2;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
}

.container {
  margin-bottom: 5px;
}

blockquote {
  background-color: #CAEBF2;
}

.well {
  background-color: #EFEFEF;
}

#userText {
  min-height: 300px;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
}


#userInput {

}

#getStarted {

}
