body {
  margin: 20px;
  background-image: url(http://www.simplefolkradio.com/images/menu%20bars%20and%20buttons/Old_Grunger_Paper_Texture_03_by_fudgegraphicsV2%20copy.jpg);
}

.container {
  margin-bottom: 5px;
}

.jumbotron {
  margin-bottom: 20px;
  background-image: url(../img/dada4.jpg);
  font-size: 50px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
  filter: sepia(50%);
  text-shadow: 5px 5px white;
}

.well {
  background-color: #EFEFEF;

}

p {
  font-family: 'Special Elite',cursive;
}

PRE {
  background-color: #CAEBF2;
  border: none;
  font-family: 'Special Elite',cursive;
  font-size: 16px;
}

blockquote  {
  background-color: #CAEBF2;
}

h1 {
  font-variant: small-caps;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-shadow: 2px 2px white;
  font-size: 26px;
}

#jumbleResult {
  font-family: 'Special Elite',cursive;
  font-size: 18px;
}

#getStartedRow {

}

#getStartedButton {

}

#getStartedExplaination {
  text-align: center;
  color: rgba(128, 0, 0, .7);
}

#userInput {

}

#jumbleButton {

}

#clear {
  margin-left: 20px;
}

#userText {
  min-height: 300px;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
}

.footer {

}

#pageFooter {
 background-color: #A9A9A9;
 padding-left: 25px;
 padding-top: 10px;
 padding-right: 25px;
 padding-bottom: 5px;
}

#replaceWell1, #getStartedExplanation, #userInput, #jumbledWell {
  display: none;
}

.btn {
  font-size: 16px;
  border-radius: 8px;
  color: #333333;
  background-color: rgba(255, 239, 204, .5);
  border: 2px solid rgba(128, 0, 0, .7);
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#jumbledInstruct {
  display: none;
}

.form-control {
  margin-top: 10px;
}
