

/* NOTE: Tristan Tzaras description of how to make a dada poem (SHOULD BE PUT IN BLOCKQUOTE)

"To Make A Dadist Poem

Take a newspaper.
Take some scissors.
Choose from this paper an article the length you want to make your poem.
Cut out the article.
Next carefully cut out each of the words that make up this article and put them all in a bag.
Shake gently.
Next take out each cutting one after the other.
Copy conscientiously in the order in which they left the bag.
The poem will resemble you.
And there you are--an infinitely original author of charming sensibility, even though
unappreciated by the vulgar herd."

- Tristan Tzara */

/* NOTE: Header setup idea - background with dada newspaper word cutouts scattered...*/

/*NOTE: Font style idea- Newspaper font? Something creative/kind of wild. Tzara was very non-conformist.*/



.btn {
  font-size: 16px;
  border-radius: 8px;
  color: #333333;
  background-color: #FF3B3F;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

body {
  margin: 20px;
  background-color: #3C3C3C;
}

.jumbotron {
  margin-bottom: 20px;
  background-image: url(../img/dada4.jpg);
  font-size: 50px;
  text-align: center;
  color: black;
  text-shadow: 5px 1px #CAEBF2;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
}

.container {
  margin-bottom: 5px;
}

blockquote {
  background-color: #CAEBF2;
}

.well {
  background-color: #EFEFEF;
}

#userText {
  min-height: 300px;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
}


#userInput {

}

#getStarted {

}

#replaceWell1, #getStartedExplanation, #userInput, #jumbledWell {
  display: none;
}


/*NOTE: Another Tzara quote:
"We want to make men realize afresh that the one unique fraternity exists in the moment of intensity when the beautiful and life itself are concentrated on the height of a wire rising toward a burst of light, a blue trembling linked to the earth by our magnetic gazes covering the peaks with snow. The miracle. I open my heart to creation.”
― Tristan Tzara*/
